.parent > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-elements > input {
    margin-bottom: 2rem;
}

#error {
    color: var(--dark-red);
    background-color: var(--red);
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}