:root {
    --primary : #85b5fd;
    --red: #ed99a1;
    --dark-red: #c43947;
    --dark-green: #8bc2a8;
    --light-green: #85e4f7;
    --dark-gray: #8f9193;
    --light-gray: #b4b9bd;
    --yellow: #ffdf82;
}